html {
  box-sizing: border-box;
}

* *:before, *:after {
  box-sizing: inherit;
}


div {
  display: inline;
  margin-left: 400px;
  width: 430px;
  height: 665px;
}

.display {
  width: 400px;
  height: 75px;
}

.keyBoard {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 600px;
  padding: 20px;
}

.keyBoard #zero{
  width: 170px;
}

button{
  height: 75px;
  width: 75px;
  margin: 10px;
}